// *:not(body):not(html) {
//   box-sizing:border-box;
//   border:1px dashed red;
// }

html {
  background: url('../img/bird-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.postDiv {
  background-color: $post-background-color;
  padding: 10px;
  margin-top: 50px;
  img {
    width: 100%;
    height: auto;
    @media screen and (min-width: $breakpoint-large){
      max-height: 200px;
    }
  }
  @media screen and (min-width: $breakpoint-large){
    @include span-columns(4);
  }
}
