// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@mixin transparent{
  position: relative;
  z-index: 2
}
@mixin socialIcons {
  @include transparent;
  float: left;
  filter: grayscale(1);
}

nav {

  position: relative;
  width: 100vw;
  #nameHeader {
    font-family: Archistico-simple;
    text-align: center;
  }
  .navSocialIcons{
    .socialIcons{
      @media screen and (min-width: 320px){
        @include socialIcons;
        max-width: 25px;
      }
    }
  }
  ul {
    @include transparent;
    list-style-type: none;
    display: inline;
    clear: both;
    margin: 0;
    padding: 0;
    a{
      @extend #nameHeader;
    }
  }
  .nav-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 97%;
    opacity: 0.05;
  }
}
